<nav class="primary">
    <ul>
        <% navItems.forEach(navigation=> { %>
            <li><a href="<%=navigation.url%>">
                    <%=navigation.label %>
                </a></li>

            <%} ) %>
    </ul>
</nav>